{% autoescape off %}
Dear ScholarHub Researcher,

We received a password reset request for your account: {{ user.email }}

Please click below to set up a new password:

{{ protocol }}://localhost:8000{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours. If you didn't request this password reset, you can safely ignore this email.

For security reasons:
- Never share your password or this link
- Delete this email if you didn't initiate the request
- Contact support if you need assistance

Keep researching,
The ScholarHub Team
{% endautoescape %}